<html>
  <h1>This Note was <b style="color:red">DELETED</b></h1>
  
  <div class="image">
    <br>
    <br>
    <br>
    <img src="http://cdn.meme.am/instances/14634311.jpg">
  </div>
</html>

<style>
  h1{
    background-color: darkgrey;
    text-align: center;
  }
  html{
    background-color: grey;
  }
  .image{
    background-color: grey;
    text-align: center;
  }
</style>