<html>
  <h1>MoviePad <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></h1>
<div class="form">
  <form action="/note" id="usrform">
    <div class="input">
      <input type="text" name="title" placeholder="Note Title">
    </div>
   <br>
  <input type="submit" value="Create Movie">
</form>
<br>
<textarea name="comment" form="usrform">Link</textarea>
</div> 
</html>
  
<style>
  h1{
    color: #E62E00;
    text-align: center;
    font-family: System;
    font-size: 100px;
    background-color: darkgrey;
    border: grey 10px solid;
  }
  
  html{
    background-image: url("http://www.kimmich-dm.de/extruder/Resources/background_gradient.jpg");
  }
  
  body {
    width: 100%;
    height: 100%;
}
  .form {
    
    width: 100px;
    height: 100px;
    

    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}

</style>